
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect('http://<%= host %>');
socket.on('connect', function(msg) {
  document.getElementById("connectId").innerHTML = 
    "your connection id::" + socket.socket.transport.sessid;
  document.getElementById("type").innerHTML = 
    "connection type::" + socket.socket.transport.name;
});

// message received
socket.on('chat send_server_to_clients', function(msg) {
  // display message
  console.log('recv msg');
  document.getElementById("receive_message").innerHTML += '<br>' + msg.value;
});

// send message
function send_message() {
  var msg = document.getElementById("message").value;
  console.log('send msg');
  // send message
  socket.emit('chat send_client_to_server', { value: msg });
}
// disconnect
function disconnect() {
  var msg = socket.socket.transport.sessid + " was disconnected";
  // send message
  socket.emit('message', { value: msg });
  // socket disconnect
  socket.disconnect();
}
</script>

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta content="text/html; charset=EUC-JP">
    <% if (is_mobile) { %>
    <meta name="viewport" content="width=320, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <% } %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="connectId"></div>
    <div id="type"></div>
    <br>
    <input type="text" id="message" value="">
    <input type="button" value="send message" onclick="send_message()">
    <input type="button" value="disconnect" onclick="disconnect()">
    <div id="receive_message"></div>
  </body>
</html>
