<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect('http://<%= host %>');
var update_time = 0;
socket.on('connect', function(msg) {
  console.log('connect');
  setInterval(send_request, 1000);
});

// receive message
socket.on('mcp3204 ret_value', function(data) {
  update_time ++;
  console.log('receive msg');
  document.getElementById("illuminance").innerHTML = data.illuminance;
  document.getElementById("moisture").innerHTML = data.moisture;
  document.getElementById("update").innerHTML = update_time;
});

// send message
function send_request() {
  console.log('send msg');
  socket.emit('mcp3204 get_value', {});
}

</script>

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta content="text/html; charset=EUC-JP">
    <% if (is_mobile) { %>
    <meta name="viewport" content="width=320, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <% } %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
	illuminance: <span id="illuminance"></span><br>
	moisture: <span id="moisture"></span><br>
    <hr>
    update: <span id="update"></span>
  </body>
</html>
