<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket;

socket = io.connect('http://<%= host %>');

socket.on('connect', function() {
	console.log("connect");
	append_message("connected");
});

socket.on('disconnect', function() {
	console.log("disconnect");
	append_message("server shutdown");
});

socket.on('update process', function(data) {
	var msg;
	msg = data.msg;
	if (data.complete == false) {
		msg += '<br><span style="color: blue">stdout: ' + data.stdout + '</span>';
		msg += '<br><span style="color: red">stderr: ' + data.stderr + '</span>';
	}
	append_message(msg);
});

socket.on('update process-result', function(data) {
	append_message_result(data.result == true? "complete": "failed");
});

var latest_li;

function append_message(msg) {
	var ul = document.getElementById('message');
	var li = document.createElement('li');
	li.innerHTML = msg;
	ul.appendChild(li);
	latest_li = li;
}

function append_message_result(result) {
	latest_li.innerHTML += " " + result;
}

// send message
function start_update() {
	socket.emit('update start-update');
}
</script>

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta content="text/html; charset=EUC-JP">
    <% if (is_mobile) { %>
    <meta name="viewport" content="width=320, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <% } %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
	 input {
	   width: 120px;
	 }
	</style>
  </head>
  <body>
    <h1><%= title %></h1>
    <input type="button" id="start_update" onclick="start_update()" value="start update"><br>
	<ul id="message">
	</ul>
	<hr>
  </body>
</html>
