<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<meta content="text/html; charset=EUC-JP">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
		<title>christmas</title>
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
    	 socket = io.connect('http://<%= host %>');
		</script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</head>
	<body>
		<button id="test0">test0</button>
		<button id="test1">test1</button>
		<button id="test2">test2</button>
	</body>
</html>
