<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta content="text/html; charset=EUC-JP">
    <% if (is_mobile) { %>
      <meta name="viewport" content="width=320, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <% } %>
    <title>space</title>
    <link rel='stylesheet' href='css/space.css' />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    	socket = io.connect('http://<%= host %>');
    </script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/space.js"></script>
    <script type="text/javascript" src="js/status.js"></script>
  </head>
  <body>
    <div id="page-index" class="page">
      <div class="page-transition page-to-space" style="top: 300px;">page space</div>
	  <hr>
      <div class="page-transition page-to-status">page status</div>
    </div>
    <div id="page-space" class="page">
      <div id="space" class="surface" style="z-index: 0">
        <div id="brightstar" class="surface star"></div>
        <div id="darkstar" class="surface dark-star"></div>
        <div id="earth" class="surface star"></div>
      </div>
      <div class="page-back page-to-index">&#x21FD;</div>
    </div>
    <div id="page-status" class="page">
      <div id="status-contents">
        <div class="status-item">
          <div class="status-icon">illuminance</div>
          <div id="illuminance" class="status-value"></div>
        </div>
        <div class="status-item" style="top: 150px">
          <div class="status-icon">moisture</div>
          <div id="moisture" class="status-value"></div>
        </div>
      </div>
      <div class="page-back page-to-index">&#x21FD;</div>
    </div>
  </body>
</html>
